config owrt owrt
	option use_uci 1

config mosquitto mosquitto
config bridge
	option connection 'kunteng'
	option address 'mqtt.kunteng.org.cn:8883'
	option cleansession 1
	option bridge_insecure 0
	option bridge_cafile '/etc/mosquitto/ca.crt'

config bridge
	option connection 'kunteng'
	option address 'emqtt.kunteng.org.cn:8883'
	option cleansession 1
	option bridge_insecure 1
	option bridge_cafile '/etc/mosquitto/apfree.ca'
