config owrt owrt
	option use_uci 1

config mosquitto mosquitto
config bridge
	option connection 'jdwx'
	option address 'emqtt.jdwanxiang.com:8883'
	option cleansession 1
	option bridge_insecure 0
	option bridge_cafile '/etc/mosquitto/yun-client.crt'

config bridge
	option connection 'jdwx'
	option address 'emqtt.jdwanxiang.com:8883'
	option cleansession 1
	option bridge_insecure 1
	option bridge_cafile '/etc/mosquitto/yun-client.ca'
