<%include("top")%>
<div class="main">
	<div class="aside">
		<ul>
			<%include("settings/menuer")%>
		</ul>
	</div>

	<div class="">
		<!--<div class="title">-->
			<!--<h3>修改密码</h3>-->
		<!--</div>-->

		<div class="article">
			<div class="set-content">
				<form id="form1">
					<div class="input-info">
						<label>原密码</label>
						<input class="wid140" type="password" name="oldpwd" id="oldpwd" autofocus/>
					</div>

					<div class="input-info">
						<label>新密码</label>
						<input class="wid140" type="password" name="newpwd" id="newpwd" />
					</div>

					<div class="input-info">
						<label>确认新密码</label>
						<input class="wid140" type="password" name="repwd" id="repwd"/>
					</div>
				</form>

				<div class="operate-btn" style="margin:43px 0 32px 190px;">
					<input type="button" value="保 存" class="off" id="save"/>
					<img class="save-loading" style="display:none;" src="<%=resource%>/images/loading.gif" alt=""/>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

    var T_alert = new Toast();
    T_alert._css.lineHeight = "40px";

    function sys_passwd_check() {
        var oldpwd = $("#oldpwd").val();
        var npwd = document.getElementById("newpwd");
        var newpwd = npwd.value;
        var rpwd = document.getElementById("repwd");
        var repwd = rpwd.value;
        var reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
        var reg2 = /^[0-9a-zA-Z]*$/g;

        if (oldpwd.length < 1) {
            T_alert.show("原密码不能为空",2000);
            setTimeout(function () {$("#oldpwd").focus();}, 0);
            return false;
        }else if (newpwd.length < 1) {
            T_alert.show("新密码不能为空",2000);
            setTimeout(function () {$("#newpwd").focus();}, 0);
            return false;
        }else  if (newpwd.indexOf(" ") >= 0) {
            T_alert.show("新密码不能包含空格",2000);
            setTimeout(function () {$("#newpwd").focus();}, 0);
            return false;
        }  else if (newpwd.length < 3 || newpwd.length > 32) {
            T_alert.show("新密码长度为 3 - 32",2000);
            setTimeout(function () {$("#newpwd").focus();}, 0);
            return false;
        }else if(reg.test(newpwd)){
            T_alert.show("新密码包含特殊字符",2000);
            setTimeout(function () {$("#newpwd").focus();}, 0);
            return false;
        }else if(!reg2.test(newpwd)) {
            T_alert.show("新密码包含特殊字符",2000);
            setTimeout(function () {$("#newpwd").focus();}, 0);
            return false;
        } else if (repwd.length < 1) {
            T_alert.show("确认密码不能为空",2000);
            setTimeout(function () {$("#repwd").focus();}, 0);
            return false;
        } else if (repwd != newpwd) {
            T_alert.show("两次输入的密码不一致",2000);
            return false;
        }else{
            return true;
        }
    };

    $("#save").click(function() {
        if (!sys_passwd_check()){return false;}

        var newPassword = $("#newpwd").val();
        var oldPassword = $("#oldpwd").val();
        loadSave("before", "save");
        $.ajax({
            url: '<%=luci.dispatcher.build_url("admin", "system", "setSysPassword")%>',
            cache: false,
            dataType: "json",
            data: {token: '<%=token%>', newpwd: newPassword, oldpwd: oldPassword},
            timeout:2000,
            type: "POST",
            success: function(rsp){
                if(rsp.code == 0){
                    T_alert.show("保存成功！",2000);
                }else{
                    T_alert.show(rsp.msg,2000);
                }
                    loadSave("after", "save");
            },
            error: function(x){
                T_alert.show("保存失败",2000);
                loadSave("after", "save");
            },
            ontimeout:function(){
                T_alert.show("保存超时",2000);
                loadSave("after", "save");
            }
        });
    });

</script>

<%include("bottom")%>
